name: noncord
services:
  db:
    image: postgres:17 
    container_name: noncord_db
    ports:
      - "6543:5432"
    volumes:
      - noncord_db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=noncord
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=noncord

  mq:
    image: rabbitmq:4.2.0-management
    container_name: noncord_message_queue
    environment:
      RABBITMQ_DEFAULT_USER: "noncord"
      RABBITMQ_DEFAULT_PASS: "noncord"
    ports:
      - "5672:5672"
      - "15672:15672"

  ws:
    container_name: noncord_websocket
    build:
      context: ./backend
      dockerfile: ws.dockerfile
    command: air
    volumes:
      - ./backend/internal:/app/internal
      - ./backend/cmd:/app/cmd
    ports:
      - "9999:9999"
    environment:
      PORT: "9999"
      DB_URI: "postgres://noncord:password@db:5432/noncord?sslmode=disable"
      AMQP_URI: "amqp://noncord:noncord@mq:5672/"
      SECRET: "d2bbb0d95eba5eef4a5127dbaf7ab9fb4ab75d4cc0677962fcbb7f740e6d067d"
    depends_on:
      - db
      - mq

  relayer:
    container_name: noncord_relayer
    build:
      context: ./backend
      dockerfile: relayer.dockerfile
    command: air
    volumes:
      - ./backend/internal:/app/internal
      - ./backend/cmd:/app/cmd
    environment:
      DB_URI: "postgres://noncord:password@db:5432/noncord?sslmode=disable"
      AMQP_URI: "amqp://noncord:noncord@mq:5672/"
    depends_on:
      - db
      - mq

  api:
    container_name: noncord_backend
    build:
      context: ./backend
      dockerfile: dev.dockerfile
    volumes:
      - ./backend/docs:/app/docs
      - ./backend/internal:/app/internal
      - ./backend/cmd:/app/cmd
      - /app/tmp
    ports: 
      - "8888:8888"
    command: air
    environment:
      AMQP_URI: "amqp://noncord:noncord@mq:5672/"
      DB_URI: "postgres://noncord:password@db:5432/noncord?sslmode=disable"
      PORT: "8888"
      SECRET: "d2bbb0d95eba5eef4a5127dbaf7ab9fb4ab75d4cc0677962fcbb7f740e6d067d"
      FRONTEND_URL: "localhost:6969"
      ENVIRONMENT: "DEVELOPMENT"
      AIR_ENV: "dev"
    depends_on:
      - db 
      - mq

  frontend:
    container_name: noncord_frontend
    build:
      context: ./frontend
      dockerfile: dev.dockerfile
    ports:
      - "6969:6969"
    volumes:
      - ./frontend:/app
    env_file:
        - ./frontend/.env
    command: sh -c "cp -r /cache_modules/node_modules /app/node_modules && npm run dev"
    environment:
      API_URL: "http://api:8888/api/v1"
      NEXT_PUBLIC_BACKEND_URL: "http://localhost:8888/api/v1"

volumes:
  noncord_db_data:
